<div id="container">
  <%!-- Add 1 to make the height large enough to hide the toolbar on iPhone --%>
  <svg width="100vw" height="101vh" />
</div>
<script defer type="text/javascript" src={~p"/js/counter.js"} ></script>
